body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

header, footer {
    background-color: #333;
    color: white;
    padding: 20px;
    border: solid;
}

header h1 {
    font-size: 2rem;
}

.main {
    background-color: rgb(151, 175, 175);
    width: 70%;
    border: solid;
    float: left;
    padding: 20px;
}

.sidebar {
    background-color: red;
    width: 25%;
    border: solid;
    float: right;
    margin-bottom: 10px;
    padding: 20px;
}

footer {
    clear: both;
    background-color: rgb(86, 105, 99);
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: fantasy;
    border: solid;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: blue;
}

form input, form select {
    padding: 10px;
    margin: 10px;
}

form input[type="text"] {
    width: 200px;
    transition: width 0.3s;
}

form input[type="text"]:focus {
    width: 250px;
}
